body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    color: #333;
}

a {
    color: #009688;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img:last-of-type {
    margin-top: 45px;
}

.fotoescojerweb {
    border-top: 30px solid black;
    border-bottom: 30px solid black;
    margin: 20px; /* Ajusta el valor según tus necesidades */
}